# Copia este archivo como ".env" y ajusta los valores según tu entorno

# --- API Carburantes ---
CARBURANTES_URL=https://sedeaplicaciones.minetur.gob.es/ServiciosRESTCarburantes/PreciosCarburantes/EstacionesTerrestres/

# --- Rutas de datos ---
DATA_RAW_DIR=data/raw
DATA_PROCESSED_DIR=data/processed

# --- Base de datos (se completará en la Parte 3) ---
DB_ENGINE=postgresql
DB_HOST=localhost
DB_PORT=5432
DB_NAME=grupo_ari
DB_USER=postgres
DB_PASSWORD=[INTRODUCE AQUÍ LA CONTRASEÑA]

